/* Background container */
.auth-container {
  height: 100vh;
  width: 100%;

  background-image: url("../../assets/BG.png");
  background-repeat: no-repeat;
  background-size: 99.7%;
  background-position: center;

  font-family: "Poppins", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dark overlay */
.auth-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Glass Card (Same as Landing) */
.auth-card {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  padding: 42px 38px;
  border-radius: 18px;
  width: 400px;
  text-align: center;

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 0 0 rgba(255, 255, 255, 0.2);
}

/* Heading */
.auth-card h2 {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 25px;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

/* Button */
.auth-btn {
  width: 100%;
  padding: 13px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  font-family: "Poppins", sans-serif;

  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: white;
}

.auth-btn:hover {
  opacity: 0.9;
}